* {
box-sizing: border-box;
}
h1{
    text-align: center;
}
.container {
max-width: 600px;
margin: 0 auto;
}
#app {
font-family: 'Avenir', Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/* text-align: center; */
color: #2c3e50;
margin-top: 60px;
font-size: 24px;
}
.logo {
display: block;
margin: 20px auto;
height: 75px;
}