<input type="text" class="todo-input" placeholder="Enter a title todo"
[(ngModel)]="todoTitle" (keyup.enter)="addTodo()">

<input type="text" class="todo-input" placeholder="Enter a description todo"
[(ngModel)]="todoDescription" (keyup.enter)="addTodo()">

<button (click)="addTodo()" class="todo-btn">Add</button>

<div class="todo-item" *ngFor="let todo of todosFiltered(); index as i;">
  <div class="todo-item">

    <input type="checkbox" (click)="changeCompleted(i)" >
    <div class="todo-item-label" [ngClass]="{ 'completed' : todo.completed }">
      <div>{{todo.title}}</div>
      <div>{{todo.description}}</div>
      <div>{{todo.date}}</div>
    </div>

    <div>
      <button (click)="changePriority(i, 0)">High</button>
      <button (click)="changePriority(i, 1)">Medium</button>
      <button (click)="changePriority(i, 2)">Low</button>
  </div>
  </div>
  <div class="remove-item" (click)="deleteTodo(todo.id)">
    &times;
  </div>
</div>

<div class="extra-container">
  <div>{{todos.length}} todos, {{remaining()}} left</div>
</div>

<div class="extra-container">
  <div>
    <button [ngClass]="{'active': filter === 'all'}" (click)="filter='all'">All</button>
    <button [ngClass]="{'active': filter === 'active'}" (click)="filter='active'">Active</button>
    <button [ngClass]="{'active': filter === 'completed'}" (click)="filter='completed'">Completed</button>
  </div>
    
  <div>
    <button (click)="deleteCompleted()">Clear completed</button>
  </div>

</div>